// Mixin for unstayled list
@mixin list-starter-value {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

// Mixin for font elements
@mixin fonts($f-family, $f-weight, $f-size, $l-hieght, $let-spacing) {
  font-family: $f-family;
  font-weight: $f-weight;
  font-size: $f-size;
  line-height: $l-hieght;
  letter-spacing: $let-spacing;
}

// Mixin for margin
@mixin margin($m-top, $m-right, $m-bottom, $m-left) {
  margin-top: $m-top;
  margin-right: $m-right;
  margin-bottom: $m-bottom;
  margin-left: $m-left;
}

// Mixin for padding
@mixin padding($p-top, $p-right, $p-bottom, $p-left) {
  padding-top: $p-top;
  padding-right: $p-right;
  padding-bottom: $p-bottom;
  padding-left: $p-left;
}

@mixin breakpoint-down($screen-size) {
  @media only screen and (max-width: $screen-size) {
    @content;
  }
}