// Color for a tag color
$link-color: #fff;

// Color for button color
$button-color: #710707;

// Button hover color
$hover-color: #9D8665;

// Heading color
$heading-color: #9D8665;

// Line color
$line-color: #710707;

// Bg fon color
$bg-color: rgba(3, 3, 3, 1);